$padding-sidebar: 0.8%;

$sidebar-width: 7.5% + $padding-sidebar;
$content-width: 100% - $sidebar-width;
$content-padding: $content-width * 0.025;
$content-padding-top: $content-padding / 2;

$image-width: $content-width * 0.6;
$image-width-alone: $content-width * 0.7;
$image-margin: ($content-width - $image-width) / 1.5;
$image-beforeafter-distance: 25px;

$carousel-width: $content-width * 0.7;
$carousel-margin: ($content-width - $carousel-width) / 2;

section {
    section {
        margin-left: 30px;
    }
}
.slideshow {
    position: relative;
    height: auto;
    margin-left: $carousel-margin !important;
    width: $carousel-width;
    &::before,
    &::after {
        display: block;
        content: '';
        height: $image-beforeafter-distance * 1.25;
    }
    .slides {
        max-height: 430px;
        display: none;
        object-fit: contain;
        object-position: 50 50;
        justify-content: center;
    }
    .button {
        position: absolute;
        top: 50%;
        transform: translate(-50%);

        height: 40px;
        width: 20px;
        border: 0;
        background: rgba(0, 0, 0, .1);

        &:hover {
            background: rgba(0, 0, 0, .8);
            color: white;
        }
    }
    .left {
        left: 0;
    }
    .right {
        right: 0;
    }
}
