$colors: (
    primary3: #7a938d,
    primary1: #568259,
    primary2: #e8e7e3,
    text: #013220,
    secondary: #6622cc,
    accent-light: #fde8e9,
    accent-dark: #484d47,
    accent-dark2: #2d2d2a,
    accent-light2: #feb95f,
    white: #fbfef9,
);
$colors-rgba: (
    primary-07: rgba(86, 130, 89, 0.7),
);
$font-size: (
    xxl: 4.236rem,
    xl: 2.618rem,
    l: 1.618rem,
    m: 1rem,
    s: 0.618rem,
    lineheight-l: 1.75,
    lineheight-m: 1.25,
    lineheight-s: 1.125,
);
$font-weight: (
    h-heavy: 700,
    h-bold: 550,
    h-medium: 450,
    h-light: 300,
);

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Quicksand", sans-serif;
}
h1.xxl {
    font-size: map-get($font-size, xxl);
}
h1 {
    font-size: map-get($font-size, xl);
}
h2 {
    font-size: map-get($font-size, l);
}
h3,
h4 {
    font-size: map-get($font-size, m);
}
h5,
h6 {
    font-size: map-get($font-size, s);
}
h1,
h2 {
    line-height: map-get($font-size, lineheight-l);
}
h3,
h4 {
    line-height: map-get($font-size, lineheight-m);
}

h5,
h6 {
    line-height: map-get($font-size, lineheight-s);
}
* {
    padding: 0;
    margin: 0;
}
html {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}
#myBtn {
    width: 50px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 999;
    border: none;
    outline: none;
    background-color: map-get($colors-rgba, primary-07);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
    font-size: 18px;
    &:hover {
        background-color: map-get($colors, primary1);
    }
}