.focus-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.focus-wrapper .sidebar {
  width: 7.5%;
  border-right: 0.5px solid #000;
}

.focus-wrapper .sidebar ul {
  list-style: none;
  padding-left: 10px;
  padding-top: 10px;
}

.focus-wrapper .sidebar ul li {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}

.focus-wrapper .sidebar ul li ul {
  padding: 0;
  padding-left: 10px;
}

.focus-wrapper .sidebar ul li a {
  text-decoration: underline;
  color: #000;
}

.focus-wrapper .sidebar ul li a:hover {
  color: #568259;
}

.focus-wrapper .content {
  width: 92.5%;
  padding: 2.3125%;
  padding-top: 1.15625%;
}

.focus-wrapper .content section {
  height: auto;
  width: 100%;
}

code {
  background-color: #e8e7e3;
  border-radius: 3px;
  padding: 2px;
}

.sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  left: 0;
  height: 100vh;
  width: 7.5% !important;
}

.image-alone {
  width: 64.75%;
  height: auto;
}

.image-alone img {
  width: 100%;
}

.image-alone::after, .image-alone::before {
  content: "";
  display: block;
  width: auto;
  height: 25px;
}

.image-wrapper {
  width: 55.5%;
  height: auto;
}

.image-wrapper img {
  width: 100%;
}

.image-wrapper::after, .image-wrapper::before {
  content: "";
  display: block;
  width: auto;
  height: 25px;
}

.image-middle {
  width: 55.5%;
  margin-left: 18.5% !important;
  margin-right: 18.5% !important;
}

.slideshow-container {
  width: 64.75%;
  margin-left: 13.875% !important;
  position: relative;
  margin: auto;
}

.slideshow-container::before, .slideshow-container::after {
  content: "";
  display: block;
  width: auto;
  height: 25px;
}

.slideshow-container .Containers {
  display: none;
}

.slideshow-container .Containers img {
  width: 100%;
  height: auto;
  height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}

.slideshow-container .Back,
.slideshow-container .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  mix-blend-mode: difference;
  font-weight: bold;
  font-size: 19px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slideshow-container .forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

.slideshow-container .Back:hover,
.slideshow-container .forward:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slideshow-container .Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.slideshow-container .MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

.slideshow-container .dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.slideshow-container .enable,
.slideshow-container .dots:hover {
  background-color: #717161;
}

.slideshow-container .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}
/*# sourceMappingURL=explain.css.map */