// $colors: (
//     primary: #8bbf41,
//     secondary: #ee7914,
//     accent-light: #efe64c,
//     accent-dark: #2d2d2a,
//     white: #efeada,
// );
$colors: (
    primary: #8bbf41,
    secondary: #5941a9,
    accent-light: #feb95f,
    accent-dark: #1f2041,
    white: #fbfef9,
);

$sidebar-width-s: 5%;
$sidebar-width-l: 10%;

$content-width-l: 100% - ($sidebar-width-s + 1.25%);
$content-width-s: 100% - ($sidebar-width-l + 1.25%);

$content-centre-outlining-s: ($content-width-s - 60%) / 2;
$content-centre-outlining-l: ($content-width-l - 60%) / 2;

$content-margin-l: $sidebar-width-l + 1.25%;
$content-margin-s: $sidebar-width-s + 1.25%;

.focuswrapper {
    width: 100%;
    height: auto;
    display: flex;
    .sidebar {
        padding: 10px;
        padding-right: 0;
        width: 5%;
        height: 100%;
        position: absolute;
        background: map-get($colors, white);
        border-right: 0.5px solid black;
        .button {
            position: absolute;
            border: none;
            background: transparent;
            height: 40px;
            width: 40px;
            .bar {
                width: 30px;
                height: 4px;
                background: black;
                margin: 5px;
                display: block;
            }
        }
        .sidebarcontent {
            margin-top: 50px;
            overflow: scroll;
            height: calc(90% - 60px);
            ul {
                padding-left: 0;
                li {
                    padding: 7.5px 0;
                }
            }
        }
    }
    .content {
        text-align: justify;
        width: $content-width-l;
        height: auto;
        margin-left: $content-margin-s;
        padding: 2.5%;
        padding-left: 1.25%;

        img {
            height: auto;
            width: 60%;
            margin-left: $content-centre-outlining-l;
            margin-right: auto;
        }

        .downloadbox {
            margin-top: 25px;
            .download {
                background: map-get($colors, primary);
                border: none;
                height: 50px;
                width: auto;
                min-width: 90px;
                //lb rb ro lo
                border-radius: 100px;
                border-bottom-left-radius: 0;
                margin-right: 15px;
                a {
                    padding: 20px;
                    text-decoration: none;
                    color: map-get($colors, white);
                    text-transform: capitalize;
                    font-size: 1.0025rem;
                }
            }
            .none {
                border-bottom-left-radius: 100px;
            }
            .cornerright {
                border-bottom-left-radius: 100px;
                border-bottom-right-radius: 0;
            }
        }
    }
}

.toggleimage {
    margin-left: $content-centre-outlining-s !important;
}

.togglesidebar {
    width: $sidebar-width-l !important;
}
.togglecontent {
    width: $content-width-s !important;
    margin-left: $content-margin-l !important;
}

.sticky {
    position: fixed !important;
    top: 0 !important;
}
