$sidebar-width: 7.5%;
$content-width: 100% - $sidebar-width;
$content-padding: $content-width * 0.025;
$content-padding-top: $content-padding / 2;

$image-width: $content-width * 0.6;
$image-width-alone: $content-width * 0.7;
$image-margin: ($content-width - $image-width) / 2;
$image-beforeafter-distance: 25px;

$carousel-width: $content-width * 0.7;
$carousel-margin: ($content-width - $carousel-width) / 2;

$colors: (
  // primary1: #7A938D,
  primary1: #568259,
  primary2: #e8e7e3,
  text: #013220,
  secondary: #6622CC,
  accent-light: #FDE8E9,
  accent-dark: #484D47,
  accent-dark2: #2d2d2a,
  accent-light2: #feb95f,
  white: #fbfef9
);

.focus-wrapper {
  width: 100%;
  display: flex;
  .sidebar {
    width: $sidebar-width;
    border-right: 0.5px solid #000;
    ul {
      list-style: none;
      padding-left: 10px;
      padding-top: 10px;
      li {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 15px;
        ul {
          padding: 0;
          padding-left: 10px;
        }
        a {
          text-decoration: underline;
          color: #000;
          &:hover {
            color: map-get($colors, primary1)
          }
        }
      }
    }
  }

  .content {
    width: $content-width;
    padding: $content-padding;
    padding-top: $content-padding-top;

    section {
      height: auto;
      width: 100%;
    }
  }
}

code {
  background-color: map-get($colors, primary2);
  border-radius: 3px;
  padding: 2px;
}

.sticky {
  position: sticky !important;
  top: 0 !important;
  left: 0;
  height: 100vh;
  width: $sidebar-width !important;
}

// Image out section
.image-alone {
  width: $image-width-alone;
  height: auto;
  img {
    width: 100%;
  }
  &::after,
  &::before {
    content: "";
    display: block;
    width: auto;
    height: $image-beforeafter-distance;
  }
}

// Image in section
.image-wrapper {
  width: $image-width;
  height: auto;

  img {
    width: 100%;
  }
  &::after,
  &::before {
    content: "";
    display: block;
    width: auto;
    height: $image-beforeafter-distance;
  }
}

.image-middle {
  width: $image-width;
  margin-left: $image-margin !important;
  margin-right: $image-margin !important;
}

.slideshow-container {
  &::before,
  &::after {
    content: "";
    display: block;
    width: auto;
    height: $image-beforeafter-distance;
  }
  width: $carousel-width;
  margin-left: $carousel-margin !important;
  position: relative;
  margin: auto;
  .Containers {
    display: none;
    img {
      width: 100%;
      height: auto;
      height: 500px;
      object-fit: contain;
    }
  }
  .Back,
  .forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: grey;
    mix-blend-mode: difference;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
  }

  .forward {
    right: 0;
    border-radius: 4px 0 0 4px;
  }

  .Back:hover,
  .forward:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .Info {
    color: #e3e3e3;
    font-size: 16px;
    padding: 10px 14px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
  }

  .MessageInfo {
    color: #f2f2f3;
    font-size: 14px;
    padding: 10px 14px;
    position: absolute;
    top: 0;
  }
  .dots {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background-color: #acc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
  }

  .enable,
  .dots:hover {
    background-color: #717161;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}
